name: ${COMPOSE_PROJECT_NAME}

services:
  workspace:
    restart: always
    build:
      context: ./workspace
      args:
        PHP_VERSION: ${PHP_VERSION}
        PUID: ${WORKSPACE_PUID}
        PGID: ${WORKSPACE_PGID}
    container_name: ${COMPOSE_PROJECT_NAME}-workspace
    working_dir: ${APP_CODE_PATH_CONTAINER}
    tty: true
    stdin_open: true
    volumes:
        - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
    extra_hosts:
      - "dockerhost:${DOCKER_HOST_IP}"
    ports:
      - "${WORKSPACE_VITE_PORT}:5173"
    networks:
      - frontend
      - backend

  nginx:
    restart: always
    build:
      context: ./nginx
      args:
        - PHP_UPSTREAM_CONTAINER=${NGINX_PHP_UPSTREAM_CONTAINER}
        - PHP_UPSTREAM_PORT=${NGINX_PHP_UPSTREAM_PORT}
    container_name: ${COMPOSE_PROJECT_NAME}-nginx
    ports:
      - "${NGINX_HOST_HTTP_PORT}:80"
      - "${NGINX_HOST_HTTPS_PORT}:443"
    volumes:
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
      - ${NGINX_SITES_PATH}:/etc/nginx/sites-available
      - ${NGINX_SSL_PATH}:/etc/nginx/ssl
      - ${NGINX_HOST_LOG_PATH}:/var/log/nginx
    depends_on:
      - php-fpm
    networks:
      - backend
    extra_hosts:
      - "host.docker.internal:host-gateway"

  php-fpm:
    restart: always
    build:
      context: ./php-fpm
      args:
        PHP_VERSION: ${PHP_VERSION}
    container_name: ${COMPOSE_PROJECT_NAME}-php
    volumes:
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
      - ./php-fpm/php.ini:/usr/local/etc/php/conf.d/custom.ini
      - ./php-fpm/www.conf:/usr/local/etc/php-fpm.d/www.conf
    environment:
      - PHP_MEMORY_LIMIT=${PHP_MEMORY_LIMIT:-256M}
      - UPLOAD_MAX_FILESIZE=${PHP_UPLOAD_MAX_FILESIZE:-64M}
    extra_hosts:
    - "dockerhost:${DOCKER_HOST_IP}"
    networks:
      - backend

  mysql:
    restart: always
    image: mysql:${MYSQL_VERSION}
    container_name: ${COMPOSE_PROJECT_NAME}-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - ${DATA_PATH_HOST}/mysql:/var/lib/mysql
    networks:
      - backend

  mariadb:
    restart: always
    image: mysql:${MARIADB_VERSION}
    container_name: ${COMPOSE_PROJECT_NAME}-mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MARIADB_DATABASE}
      - MYSQL_USER=${MARIADB_USER}
      - MYSQL_PASSWORD=${MARIADB_PASSWORD}
      - MYSQL_ALLOW_EMPTY_ROOT_PASSWORD=1
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-p${MARIADB_ROOT_PASSWORD}"]
      retries: 3
      timeout: 5s
    ports:
      - "${MARIADB_PORT}:3306"
    volumes:
      - ${DATA_PATH_HOST}/mariadb:/var/lib/mysql
    networks:
      - backend

  postgres:
    restart: always
    image: postgres:${POSTGRES_VERSION}
    container_name: ${COMPOSE_PROJECT_NAME}-postgres
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: [
        "CMD", "pg_isready", "-q",
        "-d", "${POSTGRES_DB}",
        "-U", "${POSTGRES_USER}"
      ]
      retries: 3
      timeout: 5s
    networks:
      - backend
    ports:
     - ${POSTGRES_PORT}:5432
    volumes:
      - ${DATA_PATH_HOST}/postgres:/var/lib/postgresql

  redis:
    restart: always
    image: redis:alpine
    container_name: ${COMPOSE_PROJECT_NAME}-redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      timeout: 5s
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ${DATA_PATH_HOST}/redis:/data
    networks:
      - backend

  adminer:
    restart: always
    image: adminer
    container_name: ${COMPOSE_PROJECT_NAME}-adminer
    environment:
      - ADMINER_DESIGN=${ADM_DESIGN}
    ports:
      - "${ADM_PORT}:8080"
    networks:
      - frontend
      - backend

  pgadmin:
    restart: always
    image: dpage/pgadmin4:latest
    container_name: ${COMPOSE_PROJECT_NAME}-pgadmin
    environment:
      - "PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}"
      - "PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}"
    ports:
      - "${PGADMIN_PORT}:80"
    volumes:
      - ${DATA_PATH_HOST}/pgadmin:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - frontend
      - backend

  redis-webui:
    restart: always
    image: erikdubbelboer/phpredisadmin:latest
    container_name: ${COMPOSE_PROJECT_NAME}-redis-webui
    environment:
      - ADMIN_USER=${REDIS_WEBUI_USERNAME}
      - ADMIN_PASS=${REDIS_WEBUI_PASSWORD}
      - REDIS_1_HOST=${REDIS_HOST}
      - REDIS_1_PORT=${REDIS_PORT}
    networks:
      - backend
    ports:
      - "${REDIS_WEBUI_PORT}:80"
    depends_on:
      - redis

  mailpit:
    restart: always
    image: axllent/mailpit:latest
    container_name: ${COMPOSE_PROJECT_NAME}-mailpit
    environment:
      - MP_MAX_MESSAGES=${MAILPIT_MAX_MESSAGES}
      - MP_SMTP_AUTH_ACCEPT_ANY=${MAILPIT_AUTH_ACCEPT_ANY}
      - MP_SMTP_AUTH_ALLOW_INSECURE=${MAILPIT_AUTH_ALLOW_INSECURE}
    ports:
      - "${MAILPIT_HTTP_PORT}:8025"
      - "${MAILPIT_SMTP_PORT}:1025"
    networks:
      - frontend
      - backend

volumes:
  nginx:
    driver: ${VOLUMES_DRIVER}
  php-fpm:
    driver: ${VOLUMES_DRIVER}
  mysql:
    driver: ${VOLUMES_DRIVER}
  mariadb:
    driver: ${VOLUMES_DRIVER}
  postgres:
    driver: ${VOLUMES_DRIVER}
  redis:
    driver: ${VOLUMES_DRIVER}
  adminer:
    driver: ${VOLUMES_DRIVER}
  pgadmin:
    driver: ${VOLUMES_DRIVER}
  redis-webui:
    driver: ${VOLUMES_DRIVER}
  mailpit:
    driver: ${VOLUMES_DRIVER}

networks:
  frontend:
    driver: ${NETWORKS_DRIVER}
  backend:
    driver: ${NETWORKS_DRIVER}
